@import '../../styles/sass/colors.scss', '../../styles/sass/colors.scss';

.navFooter{
    display: none;
}

/* Mobile */
@media (max-width: 700px) {
    .navFooter{
        display: block;
        position: fixed;
        bottom: 0;
        background: $white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        border-top: 1px solid $neutral200;
        align-items: center;
    }
}

/* Tablet */
@media (max-width: 1120px) {

}
