@import '../../styles/sass/colors.scss', '../../styles/sass/fonts.scss';

.container {    
    padding: 8px 14px 8px 22px;
    border-radius: 10px;    
    span {
        font-weight: 700;
    }
    // padding: 4px 13px 4px 13px;
}

.check {
    span {
        color: $primary500;
        svg {
          fill: $primary500;
        }
    }
    background-color: $primary100;
}

/*Mobile*/
@media (max-width: 700px) {

}
