.carouselContainer {
  height: calc(100vh - 148px);
  overflow: hidden;
  padding: 0px 0px 0px 50px;

  //position: relative;
  // overflow-y: hidden;
  // height: 100%;
  // padding: 0 0 0 50px;
}

.carouselContainer > div{
  height: 100%;
  //max-height: 100%; 
  //overflow: auto;
  
  // overflow-y: scroll;
  // height: auto;
}

.active{
  //display: block;
  overflow: auto !important;
  opacity: inherit;
  max-height: 100%;  
  //scroll-behavior: auto;
}

.disabled{
  //display: none;
  overflow: hidden;
  //opacity: 0.3;
  //pointer-events: none;  
  //scroll-behavior: auto;
}

.animate-bottom {
  animation: slideFromBottom 0.5s ease-in-out forwards;
  opacity: 0; /* Começa com a opacidade a 0 para um efeito de desaparecimento */
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px !important;
  background-color: #FFFFFF;
  width: 70vw;
  // height: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.slider{
  height: auto;
}

.footerControls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  z-index: 10;
}

@media (max-height: 882px) {
  .carouselContainer {
    height: 100%;
    //padding-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .carouselContainer {
    padding: 3vw;
  }
}

@media (max-width: 700px){
  .block{
    width: 100%;
  }

  .carouselContainer {
    padding: 0;
  }
}