@import '../../styles/sass/colors.scss', '../../styles/sass/fonts.scss';

.sideMenu {
    height: auto;

    a {
        width: 100%;
    }

    .header {
        display: flex;
        align-items: center;
        padding: 20px;
        color: $neutral500;
        text-transform: uppercase;

        .etapas,
        .titleMenu {
            font-size: 12px;
        }

        .etapas {
            background: $neutral100;
            padding: 5px 10px;
        }

        .titleMenu {
            margin-left: 20px;
        }
    }

    .nav {
        padding: 0 20px;
    }

    .statusActive span,
    .statusChecked span,
    .statusDefault span {
        font-weight: 700;
    }

    .statusDefault span {
        color: $neutral300;
    }

    .statusActive span {
        color: $primary500;
    }

    .statusChecked span {
        color: $neutral500;
    }
    .statusError span {
        color: $red500;
    }

    .iconChecked,
    .iconDefault, 
    .iconError {
        min-width: 40px;

        svg {
            width: 20px;
            height: 20px;
        }

        path {
            width: 20px;
            height: 20px;
        }
    }

    .iconDefault {
        svg {
            //fill: $neutral300;
        }

        path {
            color: $neutral300;
            //fill: $neutral300;
        }
    }

    .iconChecked {
        svg {
            color: $primary500;
        }

        path {
            color: $primary500;
        }
    }
    .iconError {
        svg {
            color: $red500;
        }

        path {
            color: $red500;
        }
    }
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: $white;
    height: 81.79px;
    padding: 22px;

    svg {
        path {
            color: $primary500;
            fill: transparent;
        }
    }
}


/*Mobile*/
@media (max-width: 700px) {}